.full-width-table {
    width: 100%;
    background-color: #f1eae5;
  }

  mat-card-title{
    text-align: center;
    margin: 1%
  }
  .full-width{
    margin-bottom: 10%;
  }
  .tabla{
    background-color: #6F0C0C;
  }
  .paginador{
    background-color: #6F0C0C;
    color: white;
  }