<mat-card class="full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Orde</span><span style="color: green;">nes</span>
    </mat-card-title>
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource"
     
      >
        <table mat-table [dataSource]="dataSource"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna nombre -->
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Orden</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container> 

          <ng-container matColumnDef="idMesa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mesa</th>
            <td mat-cell *matCellDef="let row">{{ row.idMesa }}</td>
          </ng-container>  
          
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let row">{{ row.usuario.nombre}} {{row.usuario.apellido1 }} {{ row.usuario.apellido2 }}</td>
          </ng-container>  

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.estado }}</td>
          </ng-container> 
          
          <ng-container matColumnDef="fechaComanda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let row">{{ row.fechaComanda }}</td>
          </ng-container>
          
          <ng-container matColumnDef="totalPagar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
            <td mat-cell *matCellDef="let row">{{ row.totalPagar }}</td>
          </ng-container>
          <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
            <td mat-cell *matCellDef="let row">
              <button color="primary" class="iconos" mat-fab (click)="detalleComanda(row.id)">
        <mat-icon>info</mat-icon>
      </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
