@use '@angular/material' as mat;

@include mat.core();

//Colores

$cafe-palette: (
    50 : #e7e5e2,
    100 : #c4beb7,
    200 : #9d9287,
    300 : #756657,
    400 : #584633,
    500 : #4e342e,
    600 : #34210d,
    700 : #2c1b0b,
    800 : #251608,
    900 : #180d04,
    A100 : #ff9858,
    A200 : #ff7925,
    A400 : #f15d00,
    A700 : #d75300,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$vino-palette: (
    50 : #f0e3e3,
    100 : #dab8b8,
    200 : #c28989,
    300 : #aa5a5a,
    400 : #973636,
    500 : #851313,
    600 : #7d1111,
    700 : #720e0e,
    800 : #680b0b,
    900 : #550606,
    A100 : #ff8888,
    A200 : #ff5555,
    A400 : #ff2222,
    A700 : #ff0909,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
/* For use in src/lib/core/theming/_palette.scss */
$verde-palette: (
    50 : #f2f8ef,
    100 : #dfedd8,
    200 : #c9e2be,
    300 : #b3d6a4,
    400 : #a3cd91,
    500 : #93c47d,
    600 : #8bbe75,
    700 : #80b66a,
    800 : #76af60,
    900 : #64a24d,
    A100 : #ffffff,
    A200 : #daffcd,
    A400 : #b4ff9a,
    A700 : #a1ff80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-cafe: (
    50 : #feeded,
    100 : #fdd1d1,
    200 : #fcb3b3,
    300 : #fb9494,
    400 : #fa7d7d,
    500 : #f96666,
    600 : #f85e5e,
    700 : #f75353,
    800 : #f64949,
    900 : #f53838,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd7d7,
    A700 : #ffbebe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-plateado: (
    50 : #ede9e9,
    100 : #d1c8c8,
    200 : #b3a3a3,
    300 : #957e7e,
    400 : #7e6363,
    500 : #674747,
    600 : #5f4040,
    700 : #543737,
    800 : #4a2f2f,
    900 : #392020,
    A100 : #ff8080,
    A200 : #ff4d4d,
    A400 : #ff1a1a,
    A700 : #ff0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-celeste: (
    50 : #f0f2ec,
    100 : #dadfcf,
    200 : #c1cab0,
    300 : #a8b490,
    400 : #95a478,
    500 : #829460,
    600 : #7a8c58,
    700 : #6f814e,
    800 : #657744,
    900 : #526533,
    A100 : #e2ffb3,
    A200 : #ceff80,
    A400 : #baff4d,
    A700 : #b0ff34,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-crema: (
    50 : #fdfdfd,
    100 : #fafafa,
    200 : #f7f7f7,
    300 : #f3f3f3,
    400 : #f1f1f1,
    500 : #eeeeee,
    600 : #ececec,
    700 : #e9e9e9,
    800 : #e7e7e7,
    900 : #e2e2e2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-primary: mat.define-palette($md-cafe);
$my-accent: mat.define-palette($md-plateado);
$my-warn: mat.define-palette($md-celeste);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);