.miCuadro{
    /*background-color: #890000;*/
    margin-top: 4%;
    margin-left: 35%;
    width: 30%;
    height: 70%;
    align-items: center;
    opacity: 87%;

    position: relative;
    background-color: #890000;
    animation-name: example;
    animation-duration: 2s;

    background: rgba(169,3,41,1);
    background: -moz-linear-gradient(left, rgba(169,3,41,1) 24%, rgba(169,3,41,1) 29%, rgba(143,2,34,1) 40%, rgba(121,1,28,1) 55%, rgba(109,0,25,1) 63%);
    background: -webkit-gradient(left top, right top, color-stop(24%, rgba(169,3,41,1)), color-stop(29%, rgba(169,3,41,1)), color-stop(40%, rgba(143,2,34,1)), color-stop(55%, rgba(121,1,28,1)), color-stop(63%, rgba(109,0,25,1)));
    background: -webkit-linear-gradient(left, rgba(169,3,41,1) 24%, rgba(169,3,41,1) 29%, rgba(143,2,34,1) 40%, rgba(121,1,28,1) 55%, rgba(109,0,25,1) 63%);
    background: -o-linear-gradient(left, rgba(169,3,41,1) 24%, rgba(169,3,41,1) 29%, rgba(143,2,34,1) 40%, rgba(121,1,28,1) 55%, rgba(109,0,25,1) 63%);
    background: -ms-linear-gradient(left, rgba(169,3,41,1) 24%, rgba(169,3,41,1) 29%, rgba(143,2,34,1) 40%, rgba(121,1,28,1) 55%, rgba(109,0,25,1) 63%);
    background: linear-gradient(to right, rgba(169,3,41,1) 24%, rgba(169,3,41,1) 29%, rgba(143,2,34,1) 40%, rgba(121,1,28,1) 55%, rgba(109,0,25,1) 63%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );

    border-radius: 74px 74px 74px 74px;
    -moz-border-radius: 74px 74px 74px 74px;
    -webkit-border-radius: 74px 74px 74px 74px;
    border: 0px solid #000000;

    -webkit-box-shadow: 24px 36px 37px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 36px 37px 12px rgba(0,0,0,0.75);
    box-shadow: 24px 36px 37px 12px rgba(0,0,0,0.75);
}

.miCuadro2{
    background-color: white;
    width: 90%;
    height: 85%;
    margin-left: 4.8%;

    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 0px solid #000000;
}

h1{
    text-align: center;
    color: antiquewhite;
    /*text-decoration-line: underline overline;*/
}

h2{
    text-align: center;
    color: black;  
}

p{
    text-align: center;
}

@keyframes example {
    0%   {background-color:#890000; left:0px; top:0px;}
    25%  {background-color:#890000; left:200px; top:0px;}
    50%  {background-color:#890000; left:200px; top:200px;}
    75%  {background-color:#890000; left:0px; top:200px;}
    100% {background-color:#890000; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */