.miCuadro{
   
    margin-left: 14.5%;
    height: 90%;
    width: 70%;
border-radius: 4%;
background-color: #f96666;

    -webkit-box-shadow: -1px 8px 31px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 8px 31px -10px rgba(0,0,0,0.75);
box-shadow: -1px 8px 31px -10px rgba(0,0,0,0.75);
}

.mititulo{
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}

.milogo{
    margin-left: 37.5%;
}

.midiv{
    background-color: #674747;
    font-family: 'Raleway', sans-serif;  
  color: white;
    height: 45%;
    width: 92%;
    margin-top: 1%;
    margin-left: 4%;
    text-align: center;

    border-radius: 38px 38px 38px 38px;
-moz-border-radius: 38px 38px 38px 38px;
-webkit-border-radius: 38px 38px 38px 38px;
border: 0px solid #000000;
}
.texto{
   
}
.body{
    font-family: 'Raleway', sans-serif; 
    padding-top: 1%;
}