.footer{     
  position:fixed;
  bottom:0px;
  width:100%;   
  text-align: center;
}
mat-toolbar{
    font-family: 'Raleway', sans-serif;
  }

.facebuk{
position: absolute;
margin-left: 23%;
margin-bottom: 0.4%;
}

.instagram{
position: absolute;
margin-left: 26%;
margin-bottom: 0.4%;
}

.whatsapp{
position: absolute;
margin-left: 29.2%;
margin-bottom: 0.4%;
}
.example-spacer {
  flex: 1 1 auto;
}

.seccion{
  
  display: flex;
  justify-content: center;
}
.iconos{
  margin: 1%;
}


