<footer class="footer">
  <mat-toolbar  color="primary">
    <p>
      &copy; Keyner Porras & Kevin Morales
    </p>
    <div class="facebuk">
      <a href="https://www.instagram.com/__kevinjo/?hl=es-la">
        <img src="./assets/facebuk.png" alt="" width="5%" height="5%">
      </a>
    </div>
    <div class="instagram">
        <a href="https://www.instagram.com/__kevinjo/?hl=es-la">
            <img src="./assets/instagram.png" alt="" width="5%" height="5%">
        </a>
    </div>
    <div class="whatsapp">
        <a href="https://www.instagram.com/__kevinjo/?hl=es-la">
            <img src="./assets/whatsapp.png" alt="" width="5%" height="5%">
        </a>
    </div>
  </mat-toolbar>

</footer>
