<footer class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="seccion">
      <button class="iconos"
        mat-fab
        color="accent"       
      >
      <i class="fa-brands fa-facebook"></i>
      </button>
      <button class="iconos"
        mat-fab
        color="accent"        
      >
      <a href="https://www.instagram.com/__kevinjo/?hl=es-la%22%3E"><i class="fa-brands fa-instagram"></i></a>
      </button>
      
    </mat-toolbar-row>
    <mat-toolbar-row class="seccion">
      <span>&copy; Keyner Porras & Kevin Morales</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
