<footer class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="seccion">
      <button class="iconos"
        mat-fab
        color="warn"       
      >
        <mat-icon md-48>facebook</mat-icon>
      </button>
      <button class="iconos"
        mat-fab
        color="warn"        
      >
      <a href="https://www.instagram.com/__kevinjo/?hl=es-la%22%3E"><img src="./assets/instagram.png" alt="" width="50%" height="50%"></a>
      </button>
      
    </mat-toolbar-row>
    <mat-toolbar-row class="seccion">
      <span>&copy; Keyner Porras & Kevin Morales</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
