<div class="body"> 
  <mat-card class="card1 full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Linea </span><span style="color: green;">Detalle</span>
    </mat-card-title>

    <h1>No Mesa: {{idMesa}} | Restaurante: {{Mesa.idRestaurante}}</h1>
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource"    
      >
        <table mat-table [dataSource]="dataSource"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna nombre -->
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Producto</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container> 

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>  
          
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>precio</th>
            <td mat-cell *matCellDef="let row">{{ row.precio}}  </td>
          </ng-container>  
                    
         
          <ng-container matColumnDef="Agregar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agregar</th>
            <td mat-cell *matCellDef="let row">
              <button color="primary" mat-mini-fab (click)="seleccionarProducto(row.id)" > 
        <mat-icon class="mat-18">add_shopping_cart</mat-icon>
      </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card2 full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Linea </span><span style="color: green;">Detalle</span>
    </mat-card-title>
    <h1 style="color: white;">No Mesa: {{Mesa.id}} | Restaurante: {{Mesa.idRestaurante}}</h1>
    <mat-card-content >

      <form [formGroup]="ordenForm" (ngSubmit)="pruebaCompra()" >
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title> Orden</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nombre" formControlName="nombre">           
                </mat-form-field>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Cantidad" formControlName="cantidad">           
                </mat-form-field>
              </div> 
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Notas" formControlName="notas">           
                </mat-form-field>
              </div>             
            </div>                                  
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit = pruebaCompra()">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </mat-card-content>
  </mat-card>

</div>

<div>
  <mat-card class="card1 full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Carr</span><span style="color: green;">ito</span>
    </mat-card-title>
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource"    
      >
        <table mat-table [dataSource]="dataSource"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna nombre -->
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Producto</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container> 

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>  
          
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>precio</th>
            <td mat-cell *matCellDef="let row">{{ row.precio}}  </td>
          </ng-container>  
                    
         
          <ng-container matColumnDef="Agregar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agregar</th>
            <td mat-cell *matCellDef="let row">
              <button color="primary" mat-mini-fab (click)="seleccionarProducto(row.id)" > 
        <mat-icon class="mat-18">add_shopping_cart</mat-icon>
      </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
