<div class="body"> 
  <mat-card class="card1 full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Prod</span><span style="color: green;">uctos</span>
    </mat-card-title>

    <h1>No Mesa: {{idMesa}} | Restaurante: {{idRestaurante}}</h1>
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource"    
      >
        <table mat-table [dataSource]="dataSource"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna nombre -->
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Producto</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container> 

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>  
          
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>precio</th>
            <td mat-cell *matCellDef="let row">{{ row.precio | currency: "₡ "}}  </td>
          </ng-container>  
                    
         
          <ng-container matColumnDef="Agregar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agregar</th>
            <td mat-cell *matCellDef="let row">
              <button color="primary" mat-mini-fab (click)="seleccionarProducto(row.id)" > 
        <mat-icon class="mat-18">add_shopping_cart</mat-icon>
      </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card2 full-width">
    <!-- Title of an Card -->
    <mat-card-title>
      <span style="color: brown;">Linea </span><span style="color: green;">Detalle</span>
    </mat-card-title>
  
    <h1>Productos agregados:</h1>
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource2"    
      >
        <table mat-table [dataSource]="dataSource2"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna nombre -->
      
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.producto.nombre}} 
            </td>
            
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>
  
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
            <td mat-cell *matCellDef="let row">{{ row.producto.precio| currency: "₡ " }}</td>
          </ng-container> 
  
          
  
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <td mat-cell *matCellDef="let row">{{ row.cantidad }}</td>          
          </ng-container>
  
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total</th>
            <td mat-cell *matCellDef="let element">{{ element.cantidad * element.producto.precio | currency: "₡"}}</td>
           
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
            <td mat-cell *matCellDef="let row">
              <button color="primary" mat-mini-fab (click)="eliminarItem(row.producto.id)" > 
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="7"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
    <h3>SubTotal | {{subtotal | currency: "₡ "}}</h3>
    <h3>Impuesto | {{iv | currency: "₡ "}}</h3>
    <h3>Total | {{total | currency: "₡ "}}</h3>
    <mat-card-actions align="end">
      
      <button mat-flat-button color="accent" (click)="registrarOrden()" >
          Comprar
          <mat-icon>shopping_bag</mat-icon> 
          </button>
    </mat-card-actions>
  </mat-card>
  

</div>


