<div class="card">
    <div class="card-body">
      <h3>Número de pedido: {{comanda.id}}</h3>     
      <h4>Fecha: {{comanda.fechaComanda | date: 'dd-MM-yyyy'}}</h4>
      <h4>Sub total {{comanda.subTotal | currency: "₡ "}}  </h4>
      <h4>Impuesto {{comanda.impuesto | currency: "₡ "}} </h4>
      <h4>Total {{comanda.totalPagar | currency: "₡ "}}</h4>

    </div>
    <div class="card-body">
      
    </div>
  </div>



<form [formGroup]="pagoForm" novalidate >
    <input type="hidden" formControlName="id"/>
    <input type="hidden" formControlName="idComanda"/>
    <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>{{titleForm}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Tarjeta</mat-label>
                    <input matInput placeholder="0000 0000 0000 0000"  formControlName="numeroTarjeta">
                    <mat-error *ngIf="pagoForm.controls['numeroTarjeta'].hasError('required')">
                        La capacidad es <strong>requerido</strong>
                      </mat-error>          
                  </mat-form-field>
            </div>
            
          </div>  
          <div class="row">
            <div class="col">
              <mat-form-field  class="full-width" *ngIf="esTipo() hidden" > 
                <mat-label>Monto</mat-label>
                  <input matInput type="number" placeholder="Monto" formControlName="monto">
                  <mat-error *ngIf="pagoForm.controls['monto'].hasError('required')">
                    La capacidad es <strong>requerido</strong>
                  </mat-error>                             
                </mat-form-field>
          </div>
          <div class="col" *ngIf="tipoPago==3 hidden">
            <mat-form-field  class="full-width" *ngIf="tipoPago==3 hidden" > 
              <mat-label>Monto tarjeta</mat-label>
                <input matInput type="number" value="{{calcAmbas()}}" placeholder="monto Tarjeta" formControlName="montoTarjeta">
                <mat-error *ngIf="pagoForm.controls['montoTarjeta'].hasError('max')">
                  El maximo es <strong>requerido</strong>
                </mat-error>                             
              </mat-form-field>
          </div>
          <div class="col"*ngIf="tipoPago==2 || tipoPago==3  hidden">
            <mat-form-field  class="full-width" *ngIf="tipoPago==2 || tipoPago==3 hidden" >
              <mat-label>Vuelto</mat-label>
                <input matInput type="number" value="{{calcVuelto()}}" placeholder="Vuelto" formControlName="vuelto">
                <mat-error *ngIf="pagoForm.controls['vuelto'].hasError('max')">
                  El maximo es <strong>requerido</strong>
                </mat-error>                             
              </mat-form-field>
          </div>
        </div>       

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="pagar()" ><mat-icon class="mat-18">credit_card</mat-icon> Pagar</button>
          </mat-card-actions>
      </mat-card>
</form>
