<div class="contenedor">
  <mat-toolbar color="primary">
    
    <span class="nombre">Keyke's</span>
    <span class="example-spacer"></span>
    <!--Boton Inicio  -->
    <button
      mat-button
      [routerLink]="['']"
      routerLinkActive="is-active"
    >
      <span class="botones">Inicio</span>
    </button>
    <!--Boton reservacion  -->
    <button
      mat-button
      [routerLink]="['/mesas/gestion-mesas']"
      routerLinkActive="is-active"
    >
      <span class="botones">Reservación</span>
    </button>
    <!--Boton Acerca de  -->
    <button class="botones"
      mat-button
      [routerLink]="['/home/acerca-de']"
      routerLinkActive="is-active"
    >
      <span class="botones">Nosotros</span>
    </button>
    <span class="example-spacer"></span>
    <span class="mat-caption botones" *ngIf="isAutenticated"
      >{{ currentUser.email }}
    </span>
    <button class="boton-login" mat-icon-button [matMenuTriggerFor]="menu2">
      <mat-icon  [ngStyle]="{ color: isAutenticated ? 'white' : '#9E9E9E' }"
        >person</mat-icon
      >
    </button>
    <mat-menu #menu2="matMenu">
      <a mat-menu-item *ngIf="!isAutenticated">
        <mat-icon>person_add</mat-icon>
        <span> Login </span>
      </a>
      <a mat-menu-item *ngIf="isAutenticated">
        <mat-icon>person_remove</mat-icon>
        <span> Logout </span>
      </a>
    </mat-menu>
  </mat-toolbar>
</div>
