<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="body">
  <div class="titulo">
    <h1><b><span style="color: green;">Gestión de </span> <span style="color: brown;">mesas</span></b></h1>
  </div>
  <div *ngIf="datosRestaurante">
    <div class="contenedor-botones">
      <button class="crear"
            mat-mini-fab color="accent"
            matTooltip="Agregar nueva mesa"
            aria-label="Agregar mesa"
            (click)="crearMesa()"           
          >
          <mat-icon class="mat-18">add</mat-icon>
          </button>
      <mat-button-toggle-group color="primary" #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"  >
        <mat-button-toggle *ngFor="let item of datosRestaurante" value="{{item.id}}" (click)="selectListaPorRestaurante(item.id)">{{item.nombre}} </mat-button-toggle>     
      </mat-button-toggle-group>
    </div>
    <div class="grid-container" *ngIf="datosSelect" >
    
      <mat-card  class="tarjeta" *ngFor="let item of datosSelect">
        <mat-card-header>     
          <mat-card-title >Mesa</mat-card-title>
          <mat-card-subtitle>Codigo:{{item.codigo}}-{{item.id}}</mat-card-subtitle>
          
        </mat-card-header>                 
          <mat-card-content>
            <img class="imagen" mat-card-image src="./assets/images/mesas.jpg" >  
          </mat-card-content>
          <mat-card-actions>
            <div class="acciones">
              <button
              mat-mini-fab color="accent"
              matTooltip="Detalle Videjuego"
              aria-label="Detalle Videjuego"           
              (click)="detalleMesa(item.id)"
            >
            <mat-icon  class="mat-18">info</mat-icon>
            </button>
            <button class="crear"
              mat-mini-fab color="accent"
              matTooltip="Agregar nueva mesa"
              aria-label="Agregar mesa"
              (click)="actualizarMesa(item.id)"           
            >
            <mat-icon class="mat-18">edit</mat-icon>
            </button>
            </div>
            <div class="estados">
              <button mat-button>Estado : {{item.estado}}</button>
              <button mat-button>Capacidad : {{item.capacidad}}</button>
            </div>
            
          </mat-card-actions>          
      </mat-card>
  
    </div>
  </div>
  
  
  
  
</body>
</html>
