<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="body">
  <div class="titulo">
    <h1><b><span style="color: green;">Gestión de </span> <span style="color: brown;">mesas</span></b></h1>
  </div>
  <div *ngIf="datosRestaurante">
    <div class="contenedor-botones">
      <mat-button-toggle-group color="primary" #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"  >
        <mat-button-toggle *ngFor="let item of datosRestaurante" value="{{item.id}}" (click)="selectListaPorRestaurante(item.id)">{{item.nombre}} </mat-button-toggle>     
      </mat-button-toggle-group>
    </div>
    <div class="grid-container" *ngIf="datosSelect" >
    
      <mat-card  class="tarjeta" *ngFor="let item of datosSelect">
        <mat-card-header>     
          <mat-card-title >Mesa</mat-card-title>
          <mat-card-subtitle>Codigo: {{item.id}}</mat-card-subtitle>
        </mat-card-header>                 
          <mat-card-content>
            <img class="imagen" mat-card-image src="./assets/images/quesadilla.jpg" >  
          </mat-card-content>
          <mat-card-actions>
            <button
            mat-mini-fab color="accent"
            matTooltip="Detalle Videjuego"
            aria-label="Detalle Videjuego"
            color="primary"
            (click)="detalleMesa(item.id)"
          >
          <mat-icon class="mat-18">info</mat-icon>
          </button>
            <button mat-button>Estado: {{item.estado}}</button>
            <button mat-button>Capacidad: {{item.capacidad}}</button>
          </mat-card-actions>          
      </mat-card>
  
    </div>
  </div>
  
  
  
  
</body>
</html>
