.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:  0 auto;
  justify-content: space-around;
}

.body{
  font-family: 'Raleway', sans-serif;
}

.tarjeta{
  display: flex;
  flex-direction: column;
 margin: 5%;
 width: 20%;
 background-color: #f96666;
}

mat-card-actions{        
  display: flex;   
  flex-wrap: wrap; 
  color: white;
  margin:  0 auto;
  justify-content: center;
}



.titulo{
  font-size: x-large;
  text-align: center;
  padding-top: 2%;
  text-decoration: underline black;
}
.contenedor-botones{
  display: flex;
  justify-content: center;
}
