<div *ngIf="datos">
<h2 mat-dialog-title color="secundary"><span style="color: brown;">Codigo mesa:</span>{{datos.codigo}}-{{datos.id}}</h2>

<mat-dialog-content >
 <h4><span style="color: green;">Estado:</span> {{datos.estado}}</h4>
 <h4><span style="color: brown;">Capacidad:</span> {{datos.capacidad}}</h4>
 <h4><span style="color: green;">Restaurante:</span></h4>
 <p>{{datos.restaurante.nombre}}</p>
 <p><span style="color: brown;">Ubicación:</span> : {{datos.restaurante.ubicacion}}</p>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
</mat-dialog-actions>
</div>
