<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
<div *ngIf="datos">
<h3 mat-dialog-title class="titulo">{{datos.nombre}}</h3>

<mat-dialog-content >
 <ul *ngIf="datos.ingredientes">
    <li *ngFor="let item of datos.ingredientes"> {{item.nombre}}</li>
 </ul>
</mat-dialog-content>

<mat-dialog-content >
  <ul *ngIf="datos.restaurantes">
     <li *ngFor="let rest of datos.restaurantes"> {{rest.nombre}}</li>
  </ul>
 </mat-dialog-content>

<mat-dialog-actions>
   
</mat-dialog-actions>
</div>
