

<div class="contenedor-detalle" *ngIf="datos">
  <h2 mat-dialog-title color="secundary"><span style="color: green;">Detalles:</span></h2>
  <div contenedor-info>
    <h2><span style="color: green;">Nombre del </span><span style="color: brown;">producto:</span> </h2>
    <h3>
      {{ datos.nombre }}
    </h3>
  </div>
  <h2 class="titulos"><span style="color: brown;">Ingredientes:</span></h2>
  <div class="contenedor-productos">
    <mat-card class="example-card" *ngFor="let item of datos.ingredientes">
      <mat-card-content>
        <h2>{{ item.nombre }}</h2>
      </mat-card-content>
      <mat-divider inset></mat-divider>

      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </div>
  <h2 class="titulos"><span style="color: green;">Restaurantes:</span></h2>
  <div class="contenedor-productos">
    <mat-card class="example-card" *ngFor="let item of datos.restaurantes">
      <mat-card-content>
        <h2>{{ item.nombre }}</h2>
        <h2>{{ item.ubicacion }}</h2>
      </mat-card-content>
      <mat-divider inset></mat-divider>

      <mat-card-footer> </mat-card-footer>
    </mat-card>
    
  </div>
  <mat-dialog-actions>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="accent">close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
