<form [formGroup]="productoForm" novalidate (ngSubmit)="isCreate ? crearVideojuego(): actualizarVideojuego()">
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titleForm}} Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #nombreProducto minlength="5" maxlength="20" placeholder="Nombre" formControlName="nombre">
            <mat-hint align="end">{{nombreProducto.value.length}} / 20</mat-hint>
            <mat-error *ngIf="productoForm.controls['nombre'].hasError('required')">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['nombre'].hasError('minlength')">
              Tamaño minimo es <strong>5</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['nombre'].hasError('maxlength')">
              Tamaño maximo es <strong>20</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="100" minlength="10" placeholder="Descripción" formControlName="descripcion">
            <mat-error *ngIf="productoForm.controls['descripcion'].hasError('required')">
              Descripción es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['descripcion'].hasError('minlength')">
              Tamaño minimo es <strong>10</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['descripcion'].hasError('maxlength')">
              Tamaño maximo es <strong>100</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" type="number" formControlName="precio">
            <mat-error *ngIf="productoForm.controls['precio'].hasError('required')">
              Precio es <strong>requerido</strong>
            </mat-error>            
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="idCategoria">
              <mat-option *ngFor="let item of categoriaList" [value]="item.id">
                {{item.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productoForm.controls['idCategoria'].hasError('required')">
              Categoria es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="100" minlength="10" placeholder="Ingredientes" formControlName="ingredientes">
            <mat-error *ngIf="productoForm.controls['ingredientes'].hasError('required')">
              Ingredientes es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['descripcion'].hasError('minlength')">
              Tamaño minimo es <strong>10</strong>
            </mat-error>
            <mat-error *ngIf="productoForm.controls['descripcion'].hasError('maxlength')">
              Tamaño maximo es <strong>100</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col" *ngIf="generosList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Restaurantes" formControlName="restaurantes" multiple>
              <mat-option *ngFor="let g of generosList" [value]="g.id">
                {{ g.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productoForm.controls['restaurantes'].hasError('required')">
              Generos es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <mat-label>Producto disponible</mat-label>
          <mat-radio-group formControlName="estado">
            <mat-radio-button [value]="true">Sí</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="productoForm.controls['estado'].touched &&
           productoForm.controls['estado'].hasError('required')">
            Publicar es <strong>requerido</strong>
          </mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
