<form [formGroup]="mesaForm" novalidate (ngSubmit)="isCreate ? crearMesa(): actualizarVideojuego()">
    <input type="hidden" formControlName="id" />
    <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>{{titleForm}} Mesas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Restaurante</mat-label>
                <mat-select   #restaurante formControlName="idRestaurante">
                  <!-- ejecuta metodo click para llenar el codigo -->
                  <mat-option (click)="obtenerCodigo(item.id)" *ngFor="let item of restauranteList" [value]="item.id">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="mesaForm.controls['idRestaurante'].hasError('required')">
                  Restaurante es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input  matInput [value]="codigo" [readonly]="!editable"  placeholder="Codigo" formControlName="codigo">   
                <mat-error *ngIf="mesaForm.controls['codigo'].hasError('required')">
                  Codigo es <strong>requerido</strong>
                </mat-error>          
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Capacidad de mesa" min="2" max="8" type="number" formControlName="capacidad">
                <mat-error *ngIf="mesaForm.controls['capacidad'].hasError('required')">
                  La capacidad es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="mesaForm.controls['capacidad'].hasError('min')">
                  El minimo es <strong>2</strong>
                </mat-error>
                <mat-error *ngIf="mesaForm.controls['capacidad'].hasError('max')">
                  El maximo es <strong>8</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Estados</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let item of estadosList" [value]="item.id">
                    {{item.id}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="mesaForm.controls['estado'].hasError('required')">
                  Restaurante es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
          </mat-card-actions>
      </mat-card>
</form>
